body{
    background-color: #EEE3CB;
  }

  hr {
    background-color: #EEE3CB;
    border-style: none;
    border-top-style: dotted;
    width: 7%;
    border-width: 5px;
  }

  h2 {
    color: #66BFBF;
  }

  h3 {
    color: #66BFBF;
  }

  h7 {
    color: #66BFBF;
  }
  h1 {
    color: #66BFBF;
  }
